<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
      function generate_time_graph(selection) {
          $.getJSON({
              url: "/callback", data: { 'data': selection }, success: function (result) {
                  result.config = {responsive: true};
                  Plotly.react('time_domain_graph', result, {});;
              }
          });
      }

      function cb(selection) {
          $.getJSON({
              url: "/callback", data: { 'data': selection }, success: function (result) {
                  result.config = {responsive: true};
                  Plotly.react('time_domain_graph', result, {});;
              }
          });
      }
  </script>

</head>
<body>

<style>

/*Center title */
h2{
  text-align: center;  
  padding: 10px;
  background-color:rgb(232, 233, 233);
  border-radius: 5px;
}

/*Center image*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*For Real-Time Data columns */
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


</style>

<div class="container">
  <h2>Offshore Wind Turbine Monitoring Dashboard</h2>

  <!-- Real-Time Data -->
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#realtime">Real-Time Data</a>
        </h4>
      </div>
      <div id="realtime" class="panel-collapse collapse">
        <!-- Real Time Data Panel Information-->
        <div class="panel-body">
            <div class="row">
              <div class="column">
                <h2>Sensor Time</h2>
                <p>Time (s): info</p>
              </div>
              <div class="column">
                <h2>Accelerometer</h2>
                <p>
                  X (g): info<br>
                  Y (g): info<br>
                  Z (g): info
                </p>
              </div>
              <div class="column">
                <h2>Gyroscope</h2>
                <p>
                  X (deg/s): info<br>
                  Y (deg/s): info<br>
                  Z (deg/s): info
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Time Domain -->
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#time" onclick="resize_graph()">Time Domain</a>
        </h4>
      </div>
      <div id="time" class="panel-collapse collapse">
        <!-- Time Domain Panel Information-->
        <div class="panel-body">
          <div id="time_domain_graph"></div>
        </div>
      </div>
    </div>
  </div>  

  <!-- FFT -->
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#fft" onclick="resize_graph()">Fast Fourier Transform (FFT)</a>
        </h4>
      </div>
      <div id="fft" class="panel-collapse collapse">
        <!-- FFT Panel Information-->
        <div class="panel-body">
          <div id="fft_graph"></div>
        </div>
      </div>
    </div>
  </div>  

  <!-- PSD -->
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#psd" onclick="resize_graph()">Power Spectral Density (PSD)</a>
        </h4>
      </div>
      <div id="psd" class="panel-collapse collapse">
        <!-- PSD Information-->
        <div class="panel-body">
          <div id="psd_graph"></div>
        </div>
      </div>
    </div>
  </div> 

  <!-- Compare -->
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#compare" onclick="resize_graph()">Compare</a>
        </h4>
      </div>
      <div id="compare" class="panel-collapse collapse">
        <!-- Compare Information-->
        <div class="panel-body">
          <div id="compare_graph"></div>
        </div>
      </div>
    </div>
  </div> 
</div>

<script type="text/javascript">
  cb("1600")
  function resize_graph() {
    console.log("working");
    window.dispatchEvent(new Event('resize'));
  }
</script>


</body>
</html>
